.btn-primary {
    background-color: #243256;
    border-radius: 6.71812px;
    font-size: 17.2949px;
    line-height:0.8cm !important;
    color: #fff;
    border: 0 !important;
    min-width: 115.56px !important;
    /* text-align: center !important; */
}
.row>* {
    flex-shrink: 0 !important;
    width: auto !important;
    /* max-width: 100% !important; */
    margin-top: var(--bs-gutter-y) !important;
}